* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    background: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
}


.resume {
    width: 100%;
    max-width: 900px;   /* fits laptop screen */
    background: #ffffff;
    margin: auto;
    padding: 40px;
}

h1 {
    text-align: center;
    color: #1f4fd8;
    margin-bottom: 5px;
    font-size: 50px;
}

.Role {
    text-align: center;
    font-weight: bold;
    margin-bottom:10px;
}

.Contact  {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.Contact a {
    color: #000;
    text-decoration: none;
}

.Contact a:hover {
    color: #1f4fd8;
    text-decoration: underline;
}

.Detail {
    background: #1f4fd8;
    color: #fff;
    padding: 6px 10px;
    margin: 20px 0 10px;
    font-weight: bold;
}



@media print {
    body {
        background: none;
        padding: 0;
    }

    .resume {
        width: 210mm;
        min-height: 297mm;
        padding: 25mm;
        margin: ;
    }
}
